@import './variables';

#calendar-widget {
	@include card-layout;
	overflow: auto;
  padding: 10px;
  color: var(--accent-color-alt);
  
}



.content-bottom-divider{
  margin: 10px;
}

.calendar-dialog-wrapper{
  width:400px
}

.calendar-dialog-head{
  color:var(--accent-color);
  font-weight: bold;
  font-size: 2.2rem;
}

#calendar-dialog-body{
  color:var(--text-color-alt);
  font-weight: bold;
  font-size: 1.2rem;
}

.calendar-dialog-foot{
  color:grey;
  font-size: 2.5rem;
}

#calendar-save-btn{
  color: white;
  background-color: var(--accent-color-alt);
  &:hover{
    background-color: var(--accent-color);
  }
}

#calendar-edit-btn{
  color: white;
  background-color: var(--accent-color-alt);
  &:hover{
    background-color: var(--accent-color);
  }
}

#calendar-cancel-btn{
  color: white;
  background-color: lightgray;
  &:hover{
    background-color: grey
  }
}


#calendar-delete-btn{
  color: white;
  background-color: var(--error-color);
  &:hover{
    background-color: red;
  }
}


