.chore-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
	// border-bottom: 1px solid var(--text-color-alt);

	.chore-check-icon {
		padding: 3px;
	}

	.chore-selector {
		margin: 8px;
		min-width: 120px;
	}

	.chore-divider {
		margin: 3px;
	}
}

.grocery-completed {
	text-decoration: line-through;
	opacity: 40%;

	.grocery-check-icon {
		color: var(--accent-color);
	}
}
