@import './variables';
@import './Chore';

#widget-chores {
	@include card-layout;
	// padding: 10px;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	color: var(--text-color);
	overflow: auto;

	#chores-header {
		display: flex;
		width: 100%;
		margin-top: 10px;
		justify-content: space-between;
		align-items: center;
	}

	#chores-btn {
		height: 35px;
		margin-left: 5px;
		margin-right: 10px;
		background-color: var(--accent-color-alt);
		color: var(--card-color);
	}

	#chores-progress-bar {
		margin: 0.5rem;
		// border: 1px solid red;
	}

	h2 {
		margin: 0;
		margin-left: 10px;
		margin-right: 0.5rem;
		font-size: 2rem;
    font-weight: bold;
		color: var(--accent-color);
	}

	ul {
		padding: 0;
		margin: 0;
		width: 100%;
		list-style: none;
		// overflow: auto;
	}

	#testing {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		overflow: auto;
	}

	#testing::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	#testing::-webkit-scrollbar-track {
		background: transparent;
	}

	#testing::-webkit-scrollbar-thumb {
		background: rgba(129, 129, 129, 0.562);
		border-radius: 100px;
	}

	.chore-chip {
		display: flex;
    justify-content: center;
    flex-wrap: wrap;

		.MuiChip-root {
			// color: white;
			// border: 1px solid black;
			background-color: var(--accent-color-alt);
		}

		// .MuiChip-deleteable {
			// color: red;
			// background-color: var(--accent-color);
			// background-color: red;
		// }

		.MuiChip-avatar {
			// color: var(--accent-color);
			// background-color: #fff;
			color: var(--text-color-button);
			background-color: var(--accent-color);
		}
		
		.MuiChip-deleteIcon {
			// background-color: #fff;
			color: var(--accent-color);
			// color: #fff;
		}

		.MuiChip-label {
			color: var(--text-color-button);
			// color: var(--accent-color);
		}
	}
}
