@import './variables';

.grid-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color:whitesmoke;
}

.grid-stage{
  width: 100%;
  height: 42%;
  padding: 10px;
  background-color: transparent;
}


.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 280px 280px;
  justify-content: space-between;
  align-content: space-evenly;
  grid-gap: 25px 0px;
  background-color: transparent;
}

.grid-container > div {
  @include card-layout;
  cursor: pointer;
  margin:5px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: scroll;
}


//WIDGET SPECIFIC STYLING <------------------------------------------------------

#calendar-grid-widget{
padding: 5px 25px 5px 5px;
}

#groceries-grid-widget{
padding: 0px;
}

#recipes-grid-widget{
padding: 0px;
}

#gallery-grid-widget{
padding: 0px;
}

#chores-grid-widget{
padding: 0px;
}

#polls-grid-widget{
padding: 0px;
}

#grid-wrapper {
	width: 96vw;
	height: 86vh;
	padding: 0 20px 20px 20px;
	display: grid;
	grid-template-columns: 40% 25% auto;
	grid-template-rows: 55% auto;
	grid-gap: 10px;
	background-color: var(--background-color);

	> div::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	> div::-webkit-scrollbar-track {
		background: transparent;
	}

	> div::-webkit-scrollbar-thumb {
		background: rgba(129, 129, 129, 0.562);
		border-radius: 100px;
	}
}

