@import './variables';
@import './Grocery';

#widget-groceries {
	@include card-layout;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		margin: 0;
	}
	p {
		margin: 0;
	}
}
