@import './variables';

.polls-loader{
	display: flex;
	width: 100%;
	height: 200px;
	justify-content: center;
	align-items: center;
	
	.poll-loader-icon{
		color:var(--accent-color-alt);
	}
}

.polls {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow:scroll;

	h1{
		display: block;
		margin: auto;
		margin-top: -5px;
		width: 75%;
		font-size: 1.8rem;
		color: var(--accent-color);
	
	}
	
}

.poll-icons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5px 10px 0px 10px;

	.poll-pie-icon{
		color: lightgray;

		&:hover{
			color:var(--accent-color-alt);
		}
	}

	.poll-delete-icon{
		color: lightgray;

		&:hover{
			color:var(--error-color);
		}
	}

}


.options{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin: 15px 10px;
	width:95%;
}


.pre-vote-option{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	width:95%;
	padding:8px 8px;
	border-radius: 5px;
	font-size: 1.3rem;
	color: var(--text-color-alt);

&:hover{
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
}

.post-vote-option{

	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	width:95%;
	padding:8px 8px;
	border-radius: 5px;
	font-size: 1.3rem;
	
&:hover{
	cursor: text;
	box-shadow: none;
}
}

.picked{
	border-radius: 5px;
	color: white;
	background-color: var(--accent-color-alt);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.vote{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;

}

.pre-vote{
		cursor: pointer;
		margin:0px 5px;
		border:none;
		color:white;
		background:var(--accent-color);
	
		padding:5px;
		border-radius:5px;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.post-vote{
		opacity: 0.2;
		cursor: pointer;
		margin:0px 5px;
		border:none;
		color:white;
		background:var(--accent-color);
	
		padding:5px;
		border-radius:5px;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.add-poll-container{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	cursor: pointer;
	color:var(--accent-color-alt);
	font-size: large;

	h1{
		color: black;
	}

	.add-poll-icon{
		&:hover{
			color:var(--accent-color);
		}
	}
	}

.pie-chart{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: -20px;

}

		
.create-poll{

	input{
		outline-color: gray;
		display: block;
		margin: 10px auto auto auto;
		width: 80%;
		padding: 10px;
		border: none;
		border-bottom: solid;
		border-bottom-width: 1px;
		border-bottom-color: lightgray;
		color: var(--text-color);
		font-size:1rem;
	}

	button{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 15px;
		color:white;
		background-color: var(--accent-color-alt);
&:hover{
	background-color: var(--accent-color);
}

	}

	label{
		display:block;
	}
}

.poll-delete{

	p{
		line-height: 1.4;
		color: var(--error-color);
		padding: 20px;
	}
	button{
		padding: 10px;
		margin: 10px;
		color: white;
		background-color: var(--accent-color-alt);
		border-radius: 5px;

		&:hover{
			background-color: var(--accent-color);
		}
	}

	#poll-delete-btn{
		color:white;
		background-color: var(--error-color);
		&:hover{
			background-color: red;
		}
	}
}

// --text-color: rgb(59, 59, 59);
// --text-color-alt: rgba(65, 65, 65, 0.932);
// --accent-color: rgb(96, 83, 247);
// --accent-color-alt: rgb(128, 118, 251);
// --card-color: #fff;
// --background-color: #fdfdfd;
// --error-color: rgb(253, 72, 72);