@import './Grid.scss';
@import './Grocery';
@import './Groceries';
@import './Polls.scss';
@import './Dropdown.scss';
@import './Recipes';
@import './Calendar.scss';



body {
	background: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;

}
