@import './Grid.scss';
@import './Grocery';
@import './Groceries';
@import './Polls.scss';
@import './Dropdown.scss';
@import './Recipes';
@import './Calendar.scss';

:root {
	--text-color: rgb(59, 59, 59);
	--text-color-alt: rgba(65, 65, 65, 0.932);
	--accent-color: rgb(96, 83, 247);
	--accent-color-alt: rgb(128, 118, 251);
	--card-color: #fff;
	--background-color: #fdfdfd;
	--error-color: rgb(253, 72, 72);
}

body {
	font-family: 'Roboto', 'sans-serif';
	background: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
